{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">
                <ol class="list-group">
                    {% for poll in poll_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <img src="{{ poll.set_icon.url }}" alt="" class="list-group-image">
                        <div class="ms-2 me-auto">
                            <a href="{% url 'view_poll' poll.id %}" class="fw-bold">
                                {{ poll.set }}
                            </a>
                            {{ poll.lore|safe }}
                        </div>
                        <span class="badge bg-success rounded-pill">Likes {{ poll.number_of_likes }} <i class="far fa-thumbs-up"></i></span>
                        <span class="badge bg-danger rounded-pill">Dislikes {{ poll.number_of_dislikes }} <i class="far fa-thumbs-down"></i></span>
                    </li>

                    <!-- <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="image-container">

                                <img src="{{ poll.set_icon.url }}" alt="" class="card-img-left">
                                <div class="image-flash">
                                    <p class="author">Poll created by: {{ poll.author }}</p>
                                </div>
                            </div>
                </div> -->


                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_prvious %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>

    </nav>
    {% endif %}
</div>

{%endblock%}