{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid">
    <div class="row">

        <div class="col-12 mt-3 left">
            <a href="{{ request.META.HTTP_REFERER }}">Go Back</a>
            <div class="row">
                <div class="card-body">
                    <div class="image-container">
                        <img src="{{ poll.image.url }}" alt="" class="card-img-left">
                    </div>
                    <div class="row">
                        <h2 class="card-title">{{ poll.set }}</h2>
                        <p class="author">Poll created by: {{ poll.author }}</p>
                        <p class="card-text text-muted h6">
                            Set Released:
                            {{ poll.release_date }}
                            <strong>
                                {% if user.is_authenticated %}
                                <form action="{% url 'poll_like' poll.id %}" class="d-inline" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}

                                    <strong class="text-secondary"><i class="fas fa-thumbs-up"></i> {{ poll.number_of_likes }} </strong>

                                    {% else %}

                                    {% endif %}
                                </form>
                                {% else %}

                                {% endif %}

                            </strong>
                            <i class="far fa-thumbs-up"></i> {{ poll.number_of_likes }}
                            <i class="far fa-thumbs-down"></i> {{ poll.number_of_dislikes }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3">
            {% for comment in comments %}
            <p class="comment">
                {{ comment.body }}
            </p>
            by {{ comment.name }} on {{ comment.created_on|timesince }}
            {% endfor %}
            <div class="col-md-4 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- For later -->
                    {% if commented %}
                    <div class="alert alert-success" role="alert">
                        Your comment is awaiting approval
                    </div>
                    {% else %}
                    {% if user.is_authenticated %}
    
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}